In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')
df.head()

,group,samples,X1.Methylnicotinamide,X2.Hydroxybutyrate,X2.Hydroxyisobutyrate,X2.Oxoisocaproate,X2.Phenylpropionate,X3.Hydroxyisovalerate,X3.Indoxylsulfate,X3.Methyl.2.oxovalerate,...,Tryptophan,Tyramine,Urea,Valine,Xylose,cis.Aconitate,myo.Inositol,sn.Glycero.3.phosphocholine,trans.Aconitate,pi.Methylhistidine
0,0,control,270.535349,71.516142,16.755210,0.568914,10.625255,10.216592,20.841847,8.173273,...,13.077237,28.197793,2742.133224,6.538619,1.796634,23.702493,2.328479,13.485901,2.784256,71.516142
1,1,sample 1,58.225953,114.366679,23.632572,4.491258,10.158798,13.687644,94.744159,14.703523,...,12.832166,15.077795,7261.401914,4.918997,13.046035,42.453082,24.648452,7.111159,6.416083,111.372507
2,2,sample 2,26.983984,29.868686,11.839298,4.837886,3.215241,2.854653,102.767511,5.468914,...,8.894498,41.828180,5618.197662,1.953184,12.710718,57.904384,15.204784,6.009796,6.460531,107.635446
3,2,sample 3,46.237843,44.531650,19.621225,5.203890,4.265484,5.118580,19.365296,8.360348,...,9.469374,41.204573,5978.075414,3.327077,8.189729,94.949667,28.749360,9.298754,8.104419,119.262924
4,3,sample 4,29.122282,69.737744,16.788139,8.316203,10.216159,13.486576,28.032144,9.344048,...,4.827758,16.756992,10053.043040,17.099608,2.121825,29.464898,81.293216,4.360556,9.281754,200.492120

In [3]:
df = df.T

In [4]:
new_df = df.drop(['group','samples'])
new_df[2] = (new_df[2] +new_df[3])/2
new_df[4] = (new_df[4] +new_df[5])/2
new_df = new_df.drop([3, 5], axis=1)
new_df.head()

                                0           1          2          4
X1.Methylnicotinamide  270.535349   58.225953  36.610914  24.338604
X2.Hydroxybutyrate      71.516142  114.366679  37.200168  43.561199
X2.Hydroxyisobutyrate    16.75521   23.632572  15.730262   11.40771
X2.Oxoisocaproate        0.568914    4.491258   5.020888   4.950869
X2.Phenylpropionate     10.625255   10.158798   3.740362   6.013296

In [5]:
new_df.rename(columns = {0:'group_0', 1:'group_1',
                              2:'group_2',4:'group_3'}, inplace = True)
new_df.head()

                          group_0     group_1    group_2    group_3
X1.Methylnicotinamide  270.535349   58.225953  36.610914  24.338604
X2.Hydroxybutyrate      71.516142  114.366679  37.200168  43.561199
X2.Hydroxyisobutyrate    16.75521   23.632572  15.730262   11.40771
X2.Oxoisocaproate        0.568914    4.491258   5.020888   4.950869
X2.Phenylpropionate     10.625255   10.158798   3.740362   6.013296

In [6]:
metabolites = new_df.index
metabolites = list(metabolites)
Metabolites = [4*metabolites]
#print(Metabolites[0])
group_0 = list(new_df['group_0'])
group_1 = list(new_df['group_1'])
group_2 = list(new_df['group_2'])
group_3 = list(new_df['group_3'])
concentration = []
concentration.extend(group_0)
concentration.extend(group_1)
concentration.extend(group_2)
concentration.extend(group_3)

def group_label(group,val):
    label = []
    for i in range(0,len(group)):
        label.append(val)
    return label
group = []
group = group_label(group_0,0)
group.extend(group_label(group_1,1))
group.extend(group_label(group_2,2))
group.extend(group_label(group_3,3))
group

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3]

In [7]:
concn = [round(item) for item in concentration ]
print(concn)

[271, 72, 17, 1, 11, 10, 21, 8, 23, 47, 128, 47, 175, 9, 132, 27, 444, 34, 76, 288, 161, 33, 21, 305, 7, 4, 2429, 51, 1081, 7, 104, 3, 5, 5, 10, 2, 358, 45, 3, 476, 16, 0, 78, 13, 28, 2742, 7, 2, 24, 2, 13, 3, 72, 58, 114, 24, 4, 10, 14, 95, 15, 5, 143, 17, 75, 931, 23, 41, 24, 690, 47, 51, 177, 48, 26, 62, 10, 7, 3, 1230, 64, 1676, 20, 10, 4, 8, 21, 59, 3, 12, 7, 34, 65, 34, 5, 10, 13, 15, 7261, 5, 13, 42, 25, 7, 6, 111, 37, 37, 16, 5, 4, 4, 61, 7, 15, 22, 16, 43, 1137, 18, 44, 14, 694, 68, 12, 64, 39, 15, 43, 84, 14, 1, 471, 131, 426, 1, 7, 3, 10, 7, 117, 1, 5, 41, 114, 208, 47, 7, 11, 9, 42, 5798, 3, 10, 76, 22, 8, 7, 113, 24, 44, 11, 5, 6, 10, 17, 6, 25, 68, 6, 76, 850, 40, 77, 13, 24, 26, 18, 211, 33, 48, 44, 20, 15, 2, 32, 90, 1030, 3, 9, 7, 9, 10, 101, 1, 538, 32, 6, 655, 11, 6, 4, 3, 18, 6857, 9, 2, 17, 44, 2, 6, 444]

In [8]:
def value_10prcnt(value):
    bound_value = round(0.1 * value)
    lower_bound = value - bound_value
    upper_bound = value + bound_value
    value_range = []
    for i in range(lower_bound,(upper_bound+1)):
        value_range.append(i)
    return value_range

In [9]:
def value_range_generator(value,length):
    value_range = []
    for i in range(0,length):
        value_range.append(value)
    return value_range

In [10]:
concentration_range = []
Metabolites_range = []
group_label = []


for i in range(0,len(concn)):
    concn_range = value_10prcnt(concn[i])
    temp_length = len(concn_range)
    metabolite_range = value_range_generator(Metabolites[0][i],temp_length)
    group_range = value_range_generator(group[i],temp_length)
    concentration_range.extend(concn_range)
    Metabolites_range.extend(metabolite_range)
    group_label.extend(group_range)
    

print(len(concentration_range))
print(len(Metabolites_range))
print(len(group_label))

9258
9258
9258

In [11]:
dataset = pd.DataFrame(list(zip(Metabolites_range, concentration_range)),
               columns =['Metabolites', 'Concentration'])

In [12]:
dataset['Group']=group_label

In [17]:
print(dataset.head())
print(dataset.shape)

             Metabolites  Concentration  Group
0  X1.Methylnicotinamide            244      0
1  X1.Methylnicotinamide            245      0
2  X1.Methylnicotinamide            246      0
3  X1.Methylnicotinamide            247      0
4  X1.Methylnicotinamide            248      0
(9258, 3)

In [14]:
# saving the dataframe
dataset.to_csv('processed_data.csv')